.best-sellers {
  img {
    width: 50%;
  }
  a,
  a:visited {
    background-color: #fc851e;
    padding: 1rem;
    color: white;
    text-decoration: none;
    border-radius: 5%;
    text-transform: uppercase;
  }
  article {
    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
