@use "variables" as *;
.best-sellers {
  margin: 5rem 0;
  article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
  h3 {
    grid-column: span 2;
    margin: 1rem 0;
  }
  a,
  a:visited {
    background-color: #fc851e;
    padding: 1rem;
    color: white;
    text-decoration: none;
    border-radius: 5%;
    text-transform: uppercase;
    justify-self: flex-end;
    align-self: center;
  }
  h2 {
    font-size: 2.25rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: #{$mediaQuery33}) {
  .best-sellers {
    display: flex;
    flex-wrap: wrap;
    article {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 2rem;
    }
    h2 {
      width: 100%;
      text-align: center;
    }
  }
}
