@use "variables" as *;


.category-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  h2 {
    width: 100%;
  }

  a {
    justify-self: center;
    background-repeat: no-repeat;
    background-position: bottom 0;
    background-size: contain;
    box-shadow: inset 0 0 0 5rem rgba(0, 0, 0, 0.5);
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 0.5rem;
  }

  .sonos {
    background-image: url("../images/shop-slider-01-speaker-white.jpg");
  }

  .siri {
    background-image: url("../images/shop-slider-02-speaker-brown.jpg");
  }

  .turntable {
    background-image: url("../images/shop-slider-03-speakers-brown.jpg");
  }

  .tv-room {
    background-image: url("../images/shop-slider-04-speakers-brown.jpg");
  }

  .kitchen {
    background-image: url("../images/shop-slider-05-speakers-brown.jpg");
  }

  .patio {
    background-image: url("../images/shop-slider-06-speaker-brown.jpg");
  }

  .office {
    background-image: url("../images/shop-slider-07-speakers-white.jpg");
  }

  .bedroom {
    background-image: url("../images/shop-slider-08-speakers-white.jpg");
  }
}