// .hero {
//   background-image: url("../images/banner-01-speaker-black.jpg");

// }
nav ul {
  display: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
