header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  background-color: black;
  height: 4rem;
  z-index: 999;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: transparent;
      cursor: pointer;
      border: none;
    }
    i {
      margin: 1rem;
      color: white;
      transform: scale(3, 2);
    }
  }
}
