@use "variables" as *;
h1 {
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0;
}
.slick-list,
.slick-track {
  height: 100%;
}
.hero .slick-slide div {
  display: none;
  color: #666;
}
.hero {
  position: relative;
  a,
  a:visited {
    border-radius: 5%;
    background-color: #fc851e;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    color: white;
    width: 50%;
    margin: 0 auto;
  }
  img {
    width: 100%;
  }
}
.slick-dots {
  display: flex;
  position: absolute;
  width: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  list-style-type: none;
  justify-content: center;
  cursor: pointer;
  gap: 0.5rem;
  button {
    cursor: pointer;
    background-color: #fc851e;
    color: #fc851e;
    border-radius: 50%;
    border: none;
    width: 1rem;
    height: 1rem;
    opacity: 0.5;
  }
}
.slick-active button {
  opacity: 1;
}
.image-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 2rem;
  left: 1rem;
  margin: auto;
  height: 2rem;
  width: 2rem;
  z-index: 99;
  background: none;
  border: none;
  & i {
    color: #fc851e;
    font-size: 4rem;
  }
}
.right {
  left: unset;
  right: 1rem;
}
@media only screen and (min-width: #{$mediaQuery63}) {
  .hero .slick-slide div {
    display: block;
    position: absolute;
    right: 0;
    top: 4rem;
    width: 50%;
    padding: 2rem;
    background-color: #ffffffa4;
    h2 {
      text-transform: unset;
      margin-bottom: 2rem;
      font-size: 3rem;
      font-weight: 300;
    }
  }
}
