@use "variables" as *;

@mixin mq($w) {
  @media (min-width: $w) {
    @content;
  }
}


@mixin button {
  background-color: $button-color;
  padding: 1rem;
  color: white;
  text-decoration: none;
  border-radius: 5%;
  text-transform: uppercase;
  margin: 1rem;
}