@use "mixins" as *;
@use "variables" as *;
.story {
  background-image: url("../images/bg-our-story-section-phone-square.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 20rem;
  div {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h2 {
      font-weight: 600;
    }
    p {
      padding: 1rem;
      max-width: 20rem;
    }
    span {
      font-style: italic;
    }
  }
  a,
  a:visited {
    @include button;
  }
}
@media only screen and (min-width: #{$mediaQuery45}) {
  .story {
    background-image: url("../images/bg-our-story-section-tablet.jpg");
    background-position: bottom;
    div {
      background-color: transparent;
      p {
        max-width: 30rem;
      }
    }
  }
}
@media only screen and (min-width: #{$mediaQuery63}) {
  .story {
    background-image: url("../images/bg-our-story-section.jpg");
    background-position: bottom;
    div {
      background-color: transparent;
      p {
        max-width: 40rem;
      }
    }
  }
}
