.this-is-ae {
  position: relative;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: scale(5);
    color: #fc851e;
  }
  h2 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
    font-weight: 900;
  }
}

.video {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 100;
  display: grid;
  place-items: center;
}
.videoEl {
  z-index: inherit;
  position: relative;
  border: 0.3rem solid #fff;
  width: 90%;
}
.videoEl video:focus {
  border: 2px solid rgb(136, 225, 255);
  outline: none;
  box-shadow: none;
}
.videoEl video {
  outline: none;
}
.close-video {
  position: absolute;
  border: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  z-index: 200;
  top: -2rem;
  right: 0rem;
  padding: 0.5rem;
  border-radius: 3px;
  z-index: 200;
}
.close-video:hover {
  background-color: #fc851e;
}
@media (min-width: 45em) {
  .videoEl {
    width: 60%;
    border-width: 1rem;
  }
  .close-video {
    right: -2rem;
  }
}
.video-hide {
  display: none;
}
